In [6]:
import pandas as pd

data = {

    '이름' : ['채치수', '정대만','송태섭','서태웅','강백호','변덕규','황태산','윤대형'],

    '학교' : ['북산고','북산고','북산고','북산고','북산고','능남고','능남고','능남고'],

    '키' : [197, 184, 168, 187, 188, 202, 188, 190],

    '국어' : [90, 40, 70, 40, 15, 80, 55, 100],

    '영어' : [85, 35, 75, 50, 20, 100, 65, 85],

    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],

    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],

    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],

    'SW특기' : ['Python', 'Java','javascript','','','C','PYTHON','C#']

}

df = pd.DataFrame(data)

In [9]:
df.to_csv('C:/Users/Cold min/OneDrive/바탕 화면/sample.csv')

In [10]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   70   75   70  80  75  javascript
3  서태웅  북산고  187   40   50   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대형  능남고  190  100   85   90  95  95          C#

In [22]:
df.loc[1]

이름       정대만
학교       북산고
키        184
국어        40
영어        35
수학        50
과학        55
사회        25
SW특기    Java
Name: 1, dtype: object

In [19]:
df.loc[[2,5]]

    이름   학교    키  국어   영어  수학  과학  사회        SW특기
2  송태섭  북산고  168  70   75  70  80  75  javascript
5  변덕규  능남고  202  80  100  95  85  80           C

In [81]:
df.loc[[1,4],['국어','영어']]

   국어  영어
1  40  35
4  15  20

In [49]:
df['키']>=185

0     True
1    False
2    False
3     True
4     True
5     True
6     True
7     True
Name: 키, dtype: bool

In [89]:
condition = [(df['국어'] >= 80) & (df['수학'] >= 80)]

In [91]:
condition

[0     True
 1    False
 2    False
 3    False
 4    False
 5     True
 6    False
 7     True
 dtype: bool]