In [43]:
import numpy as np
import pandas as pd
import seaborn as sns

In [44]:
features = pd.read_csv("C:/Users/Cold min/OneDrive/바탕 화면/titanic.csv", index_col = 0)
df = pd.DataFrame(data=features)
# C:/USers/GC/ : 파일이 저장된 디렉토리 위치, 각자에 맞게 수정

In [45]:
features

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [46]:
features.isnull().sum()# 결측치 제거

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [47]:
data = df.drop(['Name','Ticket','Fare', 'Cabin', 'Embarked','Age'], axis=1)

In [48]:
data

             Survived  Pclass     Sex  SibSp  Parch
PassengerId
1                   0       3    male      1      0
2                   1       1  female      1      0
3                   1       3  female      0      0
4                   1       1  female      1      0
5                   0       3    male      0      0
...               ...     ...     ...    ...    ...
887                 0       2    male      0      0
888                 1       1  female      0      0
889                 0       3  female      1      2
890                 1       1    male      0      0
891                 0       3    male      0      0

[891 rows x 5 columns]

In [49]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in data.columns:
    data[i]=le.fit_transform(data[i])

In [50]:
data

             Survived  Pclass  Sex  SibSp  Parch
PassengerId
1                   0       2    1      1      0
2                   1       0    0      1      0
3                   1       2    0      0      0
4                   1       0    0      1      0
5                   0       2    1      0      0
...               ...     ...  ...    ...    ...
887                 0       1    1      0      0
888                 1       0    0      0      0
889                 0       2    0      1      2
890                 1       0    1      0      0
891                 0       2    1      0      0

[891 rows x 5 columns]

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25,random_state=0)
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [52]:
#Splitting the data into training and test test
X = data.iloc[:,1:4].values
y = data.iloc[:,0].values

from sklearn.preprocessing import LabelEncoder
encoder =  LabelEncoder()
y1 = encoder.fit_transform(y)

Y = pd.get_dummies(y1).values


from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [113]:
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD,Adam


model = Sequential()

model.add(Dense(10,input_shape=(3,),activation='ReLU'))
model.add(Dense(6,activation='ReLU'))
model.add(Dense(6,activation='ReLU'))
model.add(Dense(2,activation='softmax'))


model.compile(Adam(lr=0.1),'categorical_crossentropy',metrics=['accuracy'])

model.summary()

Model: "sequential_19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_76 (Dense)            (None, 10)                40

 dense_77 (Dense)            (None, 6)                 66

 dense_78 (Dense)            (None, 6)                 42

 dense_79 (Dense)            (None, 2)                 14

=================================================================
Total params: 162
Trainable params: 162
Non-trainable params: 0
_________________________________________________________________

In [114]:
#fitting the model and predicting 

# fit network
model_history=model.fit(x=X_train, y=y_train, epochs=100, batch_size=60,validation_data= (X_test,y_test))
y_pred = model.predict(X_test)

y_test_class = np.argmax(y_test,axis=1)
y_pred_class = np.argmax(y_pred,axis=1)

Epoch 1/100
12/12 [==============================] - 0s 13ms/step - loss: 0.6128 - accuracy: 0.6166 - val_loss: 0.5026 - val_accuracy: 0.8101
Epoch 2/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5357 - accuracy: 0.7907 - val_loss: 0.5301 - val_accuracy: 0.7877
Epoch 3/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4994 - accuracy: 0.7949 - val_loss: 0.4683 - val_accuracy: 0.7877
Epoch 4/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4738 - accuracy: 0.8062 - val_loss: 0.4372 - val_accuracy: 0.7933
Epoch 5/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4741 - accuracy: 0.7963 - val_loss: 0.4477 - val_accuracy: 0.7933
Epoch 6/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4714 - accuracy: 0.7893 - val_loss: 0.4799 - val_accuracy: 0.7989
Epoch 7/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4686 - accuracy: 0.8090 - val_loss: 0.4323 - val_accuracy: 0.7989
Epoch 8/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4703 - accuracy: 0.7963 - val_loss: 0.4261 - val_accuracy: 0.7933
Epoch 9/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4632 - accuracy: 0.8006 - val_loss: 0.4187 - val_accuracy: 0.7933
Epoch 10/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4654 - accuracy: 0.8076 - val_loss: 0.4161 - val_accuracy: 0.7877
Epoch 11/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4639 - accuracy: 0.8048 - val_loss: 0.4292 - val_accuracy: 0.7877
Epoch 12/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4617 - accuracy: 0.8076 - val_loss: 0.4392 - val_accuracy: 0.7933
Epoch 13/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4574 - accuracy: 0.8062 - val_loss: 0.5064 - val_accuracy: 0.7765
Epoch 14/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5219 - accuracy: 0.7781 - val_loss: 0.4573 - val_accuracy: 0.7989
Epoch 15/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4845 - accuracy: 0.7949 - val_loss: 0.4409 - val_accuracy: 0.7877
Epoch 16/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4610 - accuracy: 0.8048 - val_loss: 0.4303 - val_accuracy: 0.7933
Epoch 17/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4593 - accuracy: 0.8006 - val_loss: 0.4384 - val_accuracy: 0.7933
Epoch 18/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4665 - accuracy: 0.7935 - val_loss: 0.4274 - val_accuracy: 0.7933
Epoch 19/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4590 - accuracy: 0.8104 - val_loss: 0.4436 - val_accuracy: 0.7877
Epoch 20/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4800 - accuracy: 0.7879 - val_loss: 0.4875 - val_accuracy: 0.7933
Epoch 21/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4759 - accuracy: 0.8006 - val_loss: 0.4278 - val_accuracy: 0.7933
Epoch 22/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4557 - accuracy: 0.8020 - val_loss: 0.4423 - val_accuracy: 0.7933
Epoch 23/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4825 - accuracy: 0.7978 - val_loss: 0.5113 - val_accuracy: 0.7933
Epoch 24/100
12/12 [==============================] - 0s 4ms/step - loss: 0.5234 - accuracy: 0.7823 - val_loss: 0.4218 - val_accuracy: 0.8101
Epoch 25/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4772 - accuracy: 0.7907 - val_loss: 0.4202 - val_accuracy: 0.7933
Epoch 26/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4617 - accuracy: 0.8020 - val_loss: 0.4153 - val_accuracy: 0.8101
Epoch 27/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4596 - accuracy: 0.8006 - val_loss: 0.4155 - val_accuracy: 0.7877
Epoch 28/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4624 - accuracy: 0.8090 - val_loss: 0.4152 - val_accuracy: 0.7877
Epoch 29/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4631 - accuracy: 0.8048 - val_loss: 0.4201 - val_accuracy: 0.8101
Epoch 30/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4786 - accuracy: 0.8020 - val_loss: 0.4156 - val_accuracy: 0.7933
Epoch 31/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4651 - accuracy: 0.8020 - val_loss: 0.4162 - val_accuracy: 0.7933
Epoch 32/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4765 - accuracy: 0.7851 - val_loss: 0.4674 - val_accuracy: 0.7933
Epoch 33/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4614 - accuracy: 0.8020 - val_loss: 0.4121 - val_accuracy: 0.7933
Epoch 34/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4584 - accuracy: 0.8062 - val_loss: 0.4356 - val_accuracy: 0.7933
Epoch 35/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4574 - accuracy: 0.8034 - val_loss: 0.4327 - val_accuracy: 0.7933
Epoch 36/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4543 - accuracy: 0.8006 - val_loss: 0.4186 - val_accuracy: 0.7933
Epoch 37/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4663 - accuracy: 0.8020 - val_loss: 0.4525 - val_accuracy: 0.7989
Epoch 38/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4757 - accuracy: 0.7978 - val_loss: 0.4716 - val_accuracy: 0.7933
Epoch 39/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4905 - accuracy: 0.7978 - val_loss: 0.4136 - val_accuracy: 0.7933
Epoch 40/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4707 - accuracy: 0.8006 - val_loss: 0.4408 - val_accuracy: 0.7989
Epoch 41/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4638 - accuracy: 0.7949 - val_loss: 0.4497 - val_accuracy: 0.7933
Epoch 42/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4628 - accuracy: 0.8048 - val_loss: 0.4322 - val_accuracy: 0.7877
Epoch 43/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4525 - accuracy: 0.7921 - val_loss: 0.4108 - val_accuracy: 0.8101
Epoch 44/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4823 - accuracy: 0.7851 - val_loss: 0.4139 - val_accuracy: 0.7933
Epoch 45/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4674 - accuracy: 0.7935 - val_loss: 0.4358 - val_accuracy: 0.7933
Epoch 46/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4561 - accuracy: 0.8006 - val_loss: 0.4597 - val_accuracy: 0.7989
Epoch 47/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4645 - accuracy: 0.7949 - val_loss: 0.4095 - val_accuracy: 0.7933
Epoch 48/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4578 - accuracy: 0.8020 - val_loss: 0.4265 - val_accuracy: 0.7877
Epoch 49/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4671 - accuracy: 0.7992 - val_loss: 0.4103 - val_accuracy: 0.8101
Epoch 50/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4710 - accuracy: 0.7935 - val_loss: 0.4266 - val_accuracy: 0.7989
Epoch 51/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4826 - accuracy: 0.7837 - val_loss: 0.4560 - val_accuracy: 0.7933
Epoch 52/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4560 - accuracy: 0.8048 - val_loss: 0.4154 - val_accuracy: 0.7933
Epoch 53/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4571 - accuracy: 0.7893 - val_loss: 0.4165 - val_accuracy: 0.8101
Epoch 54/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4590 - accuracy: 0.7921 - val_loss: 0.4130 - val_accuracy: 0.7933
Epoch 55/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4530 - accuracy: 0.8034 - val_loss: 0.5031 - val_accuracy: 0.7989
Epoch 56/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4859 - accuracy: 0.7907 - val_loss: 0.4648 - val_accuracy: 0.7989
Epoch 57/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4627 - accuracy: 0.7893 - val_loss: 0.4128 - val_accuracy: 0.7933
Epoch 58/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4623 - accuracy: 0.7963 - val_loss: 0.4168 - val_accuracy: 0.7933

Epoch 59/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4705 - accuracy: 0.7963 - val_loss: 0.4104 - val_accuracy: 0.8101
Epoch 60/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4569 - accuracy: 0.8062 - val_loss: 0.4275 - val_accuracy: 0.7877
Epoch 61/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4982 - accuracy: 0.7978 - val_loss: 0.4182 - val_accuracy: 0.8101
Epoch 62/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4649 - accuracy: 0.7851 - val_loss: 0.4326 - val_accuracy: 0.7933
Epoch 63/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4860 - accuracy: 0.7935 - val_loss: 0.4198 - val_accuracy: 0.8101
Epoch 64/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4754 - accuracy: 0.7753 - val_loss: 0.4282 - val_accuracy: 0.8101
Epoch 65/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4818 - accuracy: 0.7893 - val_loss: 0.4306 - val_accuracy: 0.7933
Epoch 66/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4805 - accuracy: 0.7921 - val_loss: 0.4630 - val_accuracy: 0.7989
Epoch 67/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4778 - accuracy: 0.7725 - val_loss: 0.4422 - val_accuracy: 0.7877
Epoch 68/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4581 - accuracy: 0.8062 - val_loss: 0.4120 - val_accuracy: 0.7933
Epoch 69/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4545 - accuracy: 0.8104 - val_loss: 0.4436 - val_accuracy: 0.7933
Epoch 70/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4543 - accuracy: 0.8174 - val_loss: 0.4774 - val_accuracy: 0.7989
Epoch 71/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4643 - accuracy: 0.7907 - val_loss: 0.4367 - val_accuracy: 0.7933
Epoch 72/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4594 - accuracy: 0.7963 - val_loss: 0.4117 - val_accuracy: 0.8101
Epoch 73/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4595 - accuracy: 0.7935 - val_loss: 0.4138 - val_accuracy: 0.8101
Epoch 74/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4709 - accuracy: 0.7963 - val_loss: 0.4113 - val_accuracy: 0.7877
Epoch 75/100
12/12 [==============================] - 0s 5ms/step - loss: 0.4614 - accuracy: 0.8048 - val_loss: 0.4145 - val_accuracy: 0.7877
Epoch 76/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4660 - accuracy: 0.7963 - val_loss: 0.4095 - val_accuracy: 0.7933
Epoch 77/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4610 - accuracy: 0.8034 - val_loss: 0.4074 - val_accuracy: 0.7933
Epoch 78/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4636 - accuracy: 0.7978 - val_loss: 0.4134 - val_accuracy: 0.7933
Epoch 79/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4649 - accuracy: 0.8062 - val_loss: 0.4266 - val_accuracy: 0.7933
Epoch 80/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4649 - accuracy: 0.7893 - val_loss: 0.4763 - val_accuracy: 0.7989
Epoch 81/100
12/12 [==============================] - 0s 4ms/step - loss: 0.4903 - accuracy: 0.8048 - val_loss: 0.4141 - val_accuracy: 0.7877
Epoch 82/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4787 - accuracy: 0.7823 - val_loss: 0.4136 - val_accuracy: 0.7933
Epoch 83/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5101 - accuracy: 0.7795 - val_loss: 0.4258 - val_accuracy: 0.8101
Epoch 84/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4761 - accuracy: 0.7795 - val_loss: 0.4137 - val_accuracy: 0.8156
Epoch 85/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4778 - accuracy: 0.7753 - val_loss: 0.4095 - val_accuracy: 0.8156
Epoch 86/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4687 - accuracy: 0.7879 - val_loss: 0.4214 - val_accuracy: 0.8101
Epoch 87/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4632 - accuracy: 0.7992 - val_loss: 0.4121 - val_accuracy: 0.7933
Epoch 88/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4591 - accuracy: 0.7978 - val_loss: 0.4153 - val_accuracy: 0.7933
Epoch 89/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4810 - accuracy: 0.7921 - val_loss: 0.4121 - val_accuracy: 0.8156
Epoch 90/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5434 - accuracy: 0.7823 - val_loss: 0.5002 - val_accuracy: 0.7989
Epoch 91/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5041 - accuracy: 0.7992 - val_loss: 0.5193 - val_accuracy: 0.7877
Epoch 92/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4971 - accuracy: 0.8006 - val_loss: 0.5050 - val_accuracy: 0.7877
Epoch 93/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4928 - accuracy: 0.7992 - val_loss: 0.4839 - val_accuracy: 0.7989
Epoch 94/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4893 - accuracy: 0.8006 - val_loss: 0.4719 - val_accuracy: 0.7989
Epoch 95/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4869 - accuracy: 0.7992 - val_loss: 0.4806 - val_accuracy: 0.7989
Epoch 96/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4935 - accuracy: 0.7978 - val_loss: 0.4856 - val_accuracy: 0.7877
Epoch 97/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4810 - accuracy: 0.8006 - val_loss: 0.4849 - val_accuracy: 0.7877
Epoch 98/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4792 - accuracy: 0.7935 - val_loss: 0.4827 - val_accuracy: 0.7877
Epoch 99/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4718 - accuracy: 0.8034 - val_loss: 0.4795 - val_accuracy: 0.7877
Epoch 100/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4743 - accuracy: 0.8048 - val_loss: 0.4723 - val_accuracy: 0.7877
6/6 [==============================] - 0s 1ms/step

In [112]:
#Accuracy of the predicted values
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test_class,y_pred_class))
print(confusion_matrix(y_test_class,y_pred_class))

              precision    recall  f1-score   support

           0       0.83      0.83      0.83       110
           1       0.73      0.74      0.73        69

    accuracy                           0.79       179
   macro avg       0.78      0.78      0.78       179
weighted avg       0.79      0.79      0.79       179

[[91 19]
 [18 51]]